
.glaze-colors{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  width: 100%;
}
  .recolor-btn{
    display: inline-block;
    background-color: #86584A;
    height: 3em;
    width: 3em;
  }
  .recolor-btn:hover{
  border-radius: 30%;
  }


  .recolor__white{
    background-color: white;
    border-color: gray;
    border-style: solid;
    border-width: 0.01em;
  }

  .recolor__darkpink{
    background-color: #E26396;
  }

  .recolor__darkbrown{
    background-color: #4B2B19;
  }

  .recolor__gold{
    background-color: #F6C659;
  }

  .recolor__green{
    background-color: #B9E378;
  }

  .recolor__blue{
    background-color: #A2E0D5;
  }

  .recolor__pink{
    background-color: pink;
  }


 
  
  

