
.config-box{
  background-color: rgb(236, 234, 234);
  width: 100%;
  height: 150vh;
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 4.5em;
}

h1{
  color: var(--primary-color);
  font-size: 2.5em;
 
}

hr{
  background-color: var(--primary-color);
  height: 1.5px;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2{
  color: black;
  font-size: 1.5em;
  
}

::placeholder {
  color: var(--primary-color);
}

.donutName-input {
  height: 2em;
  border: none;
  color: var(--primary-color);
  font-size: 2.5em;
}

.colors{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  width: 80%;
}

.sprinkle-colors{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  width: 80%;
}

  .recolor-btn{
    display: inline-block;
    background-color: #86584A;
    height: 2.5em;
    width: 2.5em;
   
  }
  .recolor-btn:hover{
  border-radius: 30%;
  }


  .recolor__white{
    background-color: white;
  }

  .recolor__darkpink{
    background-color: #E26396;
  }

  .recolor__darkbrown{
    background-color: #4B2B19;
  }

  .recolor__gold{
    background-color: #F6C659;
  }

  .recolor__green{
    background-color: #B9E378;
  }

  .recolor__blue{
    background-color: #A2E0D5;
  }

  .recolor__pink{
    background-color: pink;
  }


  .config-btn{
      background-color: var(--primary-color);
      color: var(--secondary-color);
      border: none;
      border-radius: 100px;
      padding: 0.625em 1.25em;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
  }
  
  /*toppings*/

  .toppings-wrapper{
  display: flex; 
  flex-direction: column;
  
  gap: 1.5em;

  margin-bottom:0.7em ;
  }

  .toppings-container{
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  .choices{
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  label{
    margin-left: 0.5em;
  }

  input[type="checkbox"]{
    appearance: none;
    height: 1em;
    width: 1em;
    background-color: #bdbdbd;
    border-radius: 0.2em;
    cursor: pointer;
  }
  input[type="checkbox"]:checked{
    background-color: var(--primary-color);
    
  }

.topping-2{
  text-decoration: line-through;
  color: black;
}

#tooltip{
  position: relative;
  cursor: pointer;

}

#tooltipText{
  position: absolute;
  left: 50%;
  top:-0%;
  transform: translateX(-50%);
  background-color: #000000;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
  font-size: 10px;
  visibility: hidden;
}

#tooltipText::before{
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
}

#tooltip:hover #tooltipText{
  top:-120%;
  visibility: visible;
  opacity: 1;
}

/* logo wrapper*/
.logo-wrapper{
  display: flex; 
  flex-direction: row;
  align-items: center;
  gap: 1em;
  place-items: center;
  margin-bottom:0.7em ;
  
  }

  .logo-container{
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .info-options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    padding-bottom: 40px;
    
  }
h3{
  font-size: 14px;
}

  @media (min-width: 500px) {
    .config-box{
      width: 100%;
      
    }
  }

  @media (min-width: 1130px) {

    .config-box{
      width: 32%;
      margin-left: 2em;
      height: 130vh;
      margin-top: 7em;
      
    }

    h1{
      padding-top: 0px;
      margin-top: 0px;
    }

    input[type="checkbox"]{
      appearance: none;
      height: 1.5em;
      width: 1.5em;
    }
  }
  