:root {
  --primary-color: #E72870;
  --secondary-color: #F7E200;
  --neutral-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*NAV*/

.nav {
  border-bottom: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  height: 10vh;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.nav__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/landingpage-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  color: var(--neutral-color);
  display: flex;
  flex-direction: column;
}

.container__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.container__text {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}